body {
  font-family: 'Lato', sans-serif;
  margin: 20px;
}

fieldset {
  padding: 20px;
  margin-bottom: 35px;
  height: 5em;
}

legend {
  font-size: 18px;
  padding: 0 20px;
}

button {
  width: 150px;
  height: 45px;
  border-style: none;
  font-family: 'Roboto Condensed', sans-serif;
  color: #121212;
  background-color: #e55039;
  font-size: 1.2em;
  border-radius: 5px;
  /* letter-spacing: .5px; */
  text-transform: uppercase;
}

button:focus
{
  outline:0;
}

button:hover {
  color: white;
}

#backgroundColor {
  /* display: block; */
  text-align: center;
  /* margin: auto 0; */

  background-color: #121212;
  background-image: cover;
  padding: 80px 0;
}

#arrow-box-message {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  padding-bottom: 50px;
}

/* Border that holds the buttons and text */
#box {
  display: inline-block;
  /* text-align: center; */
  /* margin: auto 0; */
  width: 350px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid #ced6e0;
  vertical-align: middle;
  padding-top: 50px;
}

.up-arrow-square {
  display: inline-block;
  width: 16%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ced6e0;
  margin-right: 15px;

}

.up-arrow-square:hover, .down-arrow-square:hover {
  cursor: pointer;
}

.down-arrow-square {
  display: inline-block;
  width: 16%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ced6e0;
}

.arrow {
  border: solid #f8c291;
  border-width: 0 4px 4px 0;
  display: inline-block;

  height: 20px;
  width: 20px;
  padding: 3px;
}

input[type="text"]
{
  height: 2rem;
  font-size: 1.7rem;
  width: 60%;
  text-align: center;
  color: #3c6382;
  margin-top: 25px;
  /* background-color: none; */
}

.up {
  display: block;
  transform: rotate(-135deg);
  position: relative;
  left: 12px;
  top: 7px;
  -webkit-transform: rotate(-135deg);

}

.down {
  display: block;
  transform: rotate(45deg);
  position: relative;
  left: 12px;
  bottom: 7px;
  -webkit-transform: rotate(45deg);
}
